/* app css stylesheet */
body {
    background-color: #f6f6f6;
}

body a{
    color: #6E1D6B;
}

h1 {
    color: #6E1D6B;
}

.navbar {
    background-color: #fff;
    height: 80px;
}

.nav.navbar-nav {
    height:100%;
}

.starter-template{
    margin-top: 120px;
}

.panel {
    padding-left: 20px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}